/* globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff; /* Default light theme background */
  --foreground: #171717; /* Default light theme text color */
}

/* Dark mode */
.dark {
  --background: #0a0a0a; /* Dark theme background */
  --foreground: #ededed; /* Dark theme text color */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
